ChangeLog
Makefile
Makefile.PL
Makefile.in
aclocal.m4
autom4te.cache
blib
build-aux
config.log
config.status
configure
default-config.h
default-theme.h
irssi-config
irssi-config.h
irssi-config.h.in
irssi-version.h
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
pm_to_blib
stamp-h1
MYMETA.*

docs/help/Makefile.am
docs/help/[a-z]*
!docs/help/meson.build
!docs/help/in
docs/help/in/Makefile.am

src/fe-text/irssi
src/fe-fuzz/irssi-fuzz
src/fe-fuzz/irc/core/event-get-params-fuzz
src/fe-fuzz/fe-common/core/theme-load-fuzz

src/perl/perl-signals-list.h
src/perl/irssi-core.pl.h

src/perl/common/*.c
src/perl/irc/*.c
src/perl/textui/*.c
src/perl/ui/*.c
src/perl/*/MYMETA.*
src/perl/*/Makefile.old

src/fe-fuzz/crash-*
src/fe-fuzz/oom-*

/core
/irssi-1.pc
/irssi/
/tests/fe-common/core/test-formats
/tests/fe-common/core/test-formats.log
/tests/fe-common/core/test-formats.trs
/tests/fe-common/core/test-suite.log
/tests/irc/core/core
/tests/irc/core/test-channel-events
/tests/irc/core/test-channel-events.log
/tests/irc/core/test-channel-events.trs
/tests/irc/core/test-irc
/tests/irc/core/test-irc.log
/tests/irc/core/test-irc.trs
/tests/irc/core/test-suite.log
/tests/irc/flood/test-796
/tests/irc/flood/test-796.log
/tests/irc/flood/test-796.trs
/tests/irc/flood/test-suite.log

*.a
*.bs
*.la
*.lo
*.o
*.swp
*~

*.tar.bz2
*.tar.gz

.deps
.libs

Build
subprojects/*
!subprojects/*.wrap
Irssi-Dist
setup.cfg
*.egg-info
