Source: irssi
Section: net
Priority: optional
Maintainer: David Pashley <david@davidpashley.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libglib2.0-dev, perl (>= 5.8.1), libperl-dev (>= 5.8.1), libncurses5-dev, libssl-dev, openssl, dpatch
Standards-Version: 3.6.2

Package: irssi
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, perl-base(>= 5.8.1)
Suggests: irssi-scripts (>= 2)
Conflicts: irssi-scripts (= 1), irssi-common, irssi-text (<= 0.8.9-3.1), irssi-snapshot (<= 0.8.9-3.1)
Replaces: irssi-scripts (<= 8), irssi-text (<= 0.8.9-3.1), irssi-snapshot (<= 0.8.9-3.1)
Provides: irssi-text, irssi-snapshot
Description: text-mode version of the irssi IRC client
 Irssi is an IRC client from the author of yagirc, Timo Sirainen. It has a
 text, GTK and GNOME interface (with integration to the GNOME panel).
 Irssi's features include configurability, smart nick completion, DCC resuming,
 support for plugins and perl scripting.
 .
 This package includes the text-mode version of the irssi client.
 .
 The GTK and GNOME versions of irssi haven't been developed since early
 2000, and currently lack much of irssi-text's functionality.

Package: irssi-dev
Architecture: any
Depends: irssi
Conflicts: irssi-snapshot-dev (<= 0.8.6+cvs.20031114-1)
Replaces: irssi-snapshot-dev (<= 0.8.6+cvs.20031114-1)
Provides: irssi-snapshot-dev
Description: text-mode version of the irssi IRC client development files
 Irssi is an IRC client from the author of yagirc, Timo Sirainen. It has a
 text, GTK and GNOME interface (with integration to the GNOME panel).
 Irssi's features include configurability, smart nick completion, DCC resuming,
 support for plugins and perl scripting.
 .
 This package includes the development files for the irssi client.

Package: irssi-text
Architecture: any
Depends: irssi
Description: irssi dummy transition package
 This is a dummy transition package from irssi-text and is safe to
 remove.
